<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="@Url.Content("~/Content/jquery.mobile-1.1.0.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/Site.Mobile.css")" />
        @Html.Partial("_MobileScripts")
    </head> 
    <body>
        <div data-role="page" data-theme="d" data-content-theme="d">
            <div data-role="header">
                <h1>@ViewBag.Title</h1> 
                <div data-role="navbar">
                    <ul>
                        <li>@Html.ActionLink("Hjem", "Index", "Home")</li>
                        <li>@Html.ActionLink("Ansatte", "Employees", "Home")</li>
                        <li>@Html.ActionLink("Ta bilde", "TakePhoto", "Home")</li>
                        <li>@Html.ActionLink("Last opp bilde", "UploadPhoto", "Home")</li>
                    </ul>
                </div>
            </div>
            @RenderBody()
        </div>

    </body>
</html>