@using System.Collections
@model IEnumerable<CiberNdc.Models.Employee>
@{
    ViewBag.Title = "CIBER @ NDC";
}


<div id="tile" class="tiles blue" data-mode="flip" data-delay="5000">
    <div class="green live-tile exclude">
        <h3><span class="tile-title">Use your phone to upload photos of Ciber-employees at NDC and win nice prizes!</span></h3>
        <h1 style="text-align: center">@ViewBag.Title</h1>
    </div>
    
    @{ var delay = 0; }
    @foreach (var employee in Model)
    {
        delay += 300;
        if (employee.Photos.Count < 3)
        {
            <div class="live-tile" data-mode="flip" data-delay="5000" data-initdelay="@delay">
                @foreach (var photo in employee.Photos)
                {
                <div>
                    <img src="/Home/GetImage/@photo.Id"/>
                    <a class="tile-title">@photo.Employee.Name</a>
                </div>
                }
            </div>
        }
        else if (employee.Photos.Count < 9)
        {
            <div class="purple list-tile">
            <span class="tile-title">@employee.Name</span>
            @{var altId = 1;}
            <ul class="flip-list fourTiles" data-mode="flip" data-delay="5000" data-initdelay="@delay">
                @foreach (var photo in employee.Photos)
                {
                    <li><div><img src="/Home/GetImage/@photo.Id" alt="@altId" /></div></li>
                    altId += 1;
                }
            </ul>
        </div>
        }
        else
        {
            {
            <div class="purple list-tile">
            <span class="tile-title">@employee.Name</span>
            @{var altId = 1;}
            <ul class="flip-list fourTiles" data-mode="flip" data-delay="5000" data-initdelay="@delay">
                @foreach (var photo in employee.Photos)
                {
                    <li><div><img src="/Home/GetImage/@photo.Id" alt="@altId" /></div></li>
                    altId += 1;
                }
            </ul>
        </div>
        }
        }
    }
    
</div>

<script src="~/Scripts/metro/jquery.metro.js"></script>
<script type="text/javascript">
    // apply regular slide universally unless .exclude class is applied 
    // NOTE: The default options for each liveTile are being pulled from the 'data-' attributes
    $(".live-tile, .flip-list").not(".exclude").liveTile();
</script>