@model IEnumerable<CiberNdc.Models.Employee>
@{
    ViewBag.Title = "Ciber @ NDC";
}

<div data-role="content">
    <ul data-role="listview" data-inset="true">
        @foreach (var employee in Model)
        {
            <li class="item">
                <img src="/Home/GetImage?id=@(employee.Photos[0].Id)&size=60x60" />
                <span class="image-overlay">@employee.Name</span>
                <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@employee.Photos.Count</span>
                <ol data-role="listview" data-inset="true" data-filter="false">
                    @{
                        var i = 1;  
                    }
                    @foreach (var bilde in employee.Photos)
                    {
                        <li class="item">
                            <a href="/Home/GetImage?id=@(bilde.Id)&size=60x60">
                                <img alt="@bilde.Name" src="/Home/GetImage?id=@(bilde.Id)&size=60x60" class="ui-li-thumb ui-corner-tl" width="180" />
                            </a>
                            <span class="image-overlay">@employee.Name @i</span>
                        </li>
                        i++;
                    }
                </ol>
            </li>
        }
    </ul>
</div>
